<div class="grid-container">
    <div class="item1">Header</div>
    <div class="item2">
        <ul *ngFor="let item of courses" >

            <li>
{{item.name}}
            </li>
        </ul>



    </div>


    <div class="item3">
        <iframe id="myframe" name="myframe" width="569" height="320" src="" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div id="videotitle">Title</div>
    </div>


    <div class="item4"><a class="back-link" href="index.html">BACK</a>
        <br>
        <span id="coursename"></span>

        <ol id="itemlist1" class="courseitem">
            <li>
                <a class="mylinks" href="https://www.youtube.com/embed/wDtshBQnz-A?si=Bac3KutGiMeq18QD"
                    target="myframe">1000 subcriber on youtube</a>
            </li>

        </ol>

    </div>
    <div class="item5">Footer</div>
</div>